<section>
  <main>
    <div class="title">
      <h1>{{ gamesService.games[this.id].name }}</h1>
      <strong class="chance">
        Chance:
        <span [ngClass]="changeColor(gamesService.games[this.id].chance)">
          {{ gamesService.games[this.id].chance }}%
        </span>
      </strong>
    </div>

    <hr />

    <div class="info">
      <strong class="gain">
        Ganho:
        <span>{{ gamesService.games[this.id].gain | currencyBRL }}</span>
      </strong>
      <strong class="loss">
        Perda: <span>{{ gamesService.games[this.id].loss | currencyBRL }}</span>
      </strong>
    </div>
  </main>

  <span
    *ngIf="
      this.attributes.level < this.gamesService.games[this.id].level;
      else buttonAction
    "
    class="action"
  >
    Nível {{ this.gamesService.games[this.id].level }}
  </span>

  <ng-template #buttonAction>
    <button class="action" (click)="actionButton()">
      <span> </span>
      {{ action }}
    </button>
  </ng-template>
</section>
