<section>
  <main>
    <div class="title">
      <h1>{{ gamesService.games[this.id].name }}</h1>
      <strong class="chance">
        Chance:
        <span [ngClass]="changeColor(gamesService.games[this.id].chance)">
          {{ gamesService.games[this.id].chance }}%
        </span>
      </strong>
    </div>

    <hr />

    <div class="info">
      <strong class="gain">
        Ganho: <span>{{ convert(gamesService.games[this.id].gain) }}</span>
      </strong>
      <strong class="loss">
        Perda: <span>{{ convert(gamesService.games[this.id].loss) }}</span>
      </strong>
    </div>
  </main>

  <button class="action" (click)="actionButton()">
    {{ action }}
  </button>
</section>
