<section>
  <main>
    <div class="title">
      <h1>
        {{ this.attributes.level < 20 ? '???' : gamesService.secret.name }}
      </h1>
      <strong class="chance">
        Chance:
        <span>
          {{ this.attributes.level < 20 ? '???' : gamesService.secret.chance }}%
        </span>
      </strong>
    </div>

    <hr />

    <div class="info">
      <strong class="gain">
        Ganho:
        <span>{{
          this.attributes.level < 20
            ? '???'
            : (gamesService.secret.gain | currencyBRL)
        }}</span>
      </strong>
      <strong class="loss">
        Perda:
        <span>{{
          this.attributes.level < 20
            ? '???'
            : (gamesService.secret.loss | currencyBRL)
        }}</span>
      </strong>
    </div>
  </main>

  <span *ngIf="this.attributes.level < 20; else buttonAction" class="action">
    ???
  </span>

  <ng-template #buttonAction>
    <button class="action" (click)="actionButton()">
      <span> </span>
      {{ action }}
    </button>
  </ng-template>
</section>
