@import 'src/scss/variables';
@import 'src/scss/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-family: $default-font;
}

button {
  border: none;
  font-family: $default-font;
  font-size: 1rem;
  font-weight: 600;
  color: $white;
  cursor: pointer;
}

div,
section,
article,
button {
  border-radius: 0.3rem;
}

a {
  text-decoration: none;
}

body {
  background-color: $background-1;
}
