@import './scss/variables';
@import './scss/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-family: $default-font;
}

div,
section,
article {
  border-radius: 0.3rem;
}

body {
  @include displayFlex;

  min-height: 100vh;
  background-color: $background-1;
}
