@import 'src/scss/variables';
@import 'src/scss/mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-family: $default-font;
}

div,
section,
article {
  border-radius: 0.3rem;
}

a {
  text-decoration: none;
}
