@import 'src/scss/_variables.scss';
@import 'src/scss/_mixins.scss';

div {
  width: 12rem;
  background-color: $background-2;
  padding: 0.3rem;
}

.container {
  @include displayFlex($direction: row);
  width: 100%;
  gap: 1rem;
  background-color: $white;
  font-size: 1.1rem;

  div {
    padding-inline: 0.5rem;

    .level-component {
      @include displayFlex(space-between, center, row);
    }
  }

  .info-money {
    color: $green;
  }
}
