@import 'src/scss/_variables.scss';
@import 'src/scss/_mixins.scss';

div {
  width: 12rem;
  background-color: $background-2;
  padding: 0.3rem;
}

section {
  @include displayFlex;

  width: 27rem;
  gap: 1rem;
  background-color: $white;
  box-shadow: 0px 3px 10px rgba($text-color, 0.3);
  padding: 1rem;

  .info-title {
    font-size: 3rem;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }

  main {
    @include displayFlex();

    gap: 1rem;
    font-size: 1.2rem;

    .info-money {
      color: $green;
    }

    .level-component {
      @include displayFlex(space-between, center, row);
    }
  }
}
